body {
    background-color: rgb(65, 64, 64);
    /* color: white; */
    /* border: 1px solid rgb(255, 188, 4); */
    font-size: 1px;
    height: 95vh;
    width: 100%;
}

#navbar {
    position: sticky;
    /* border: 1px solid red; */
    text-align: center;
    margin: 20px;
    padding: 10px;
    /* width: 99%;
    height: 9%; */
    align-self: center;
    background-color: rgb(75, 159, 255);
}

.manulist {
    display: inline;
    list-style: none;
    font-size: 21px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

div ul li a {
    text-decoration: none;
    color: rgb(0, 26, 255);
    font-size: 30px;
    /* background-color: rgb(0, 255, 85); */
}

div ul li a:hover {
    background-color: yellow;
    color: rgb(1, 39, 1);
}

div ul {
    align-self: center;
}

#contaner {
    align-self: center;
    /* display: inline; */
    /* border: 1px solid red; */
    margin: 25px;
    padding: 10px;
    /* flex: auto; */
}

.item {
    align-items: center;
    font-size: 40px;
    /* display: inline; */
    padding: 20px;
    margin: 20px;
    /* border: 1px solid red; */
    /* flex: auto; */
    margin-block: 195px;
    text-align: center;
}

.link {
    text-decoration: none;
    font-size: 40px;
    /* text-align: center; */
    color: rgb(35, 94, 2);
}

#item1 {
    background-color: aqua;
}

#item2 {
    background-color: chartreuse;
}

#item1:hover {
    box-shadow: 10px 10px 10px rgb(3, 141, 253);
}

#item2:hover {
    box-shadow: 10px 10px 10px rgb(0, 173, 72);
}

.name {
    font-size: 10px;
    color: rgb(122, 122, 122);
    /* align-self: right; */
    text-align: right;
    position: static;
    left: 100%;
    right: 100%;
}