#d1{
    display: inline;
    /* display: flex; */
    height: 97vh;
    width: 30%;
}

#d2{
    display: inline;
    /* display: flex; */
    height: 97vh;
    width: 70%;
}

#list{
    height: 100%;
    width: 100%;
}

#display{
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}
#flex{
    display: flex;
    position: relative;
    min-height: 100%;
    min-width: 100%;
}